/*
 * Church of Futaba
 *
 * Color Scheme: 
 * Rosy: #C48C89
 * Brown: #BCA28D
 * Gray: #797078
 * Dark Sea Green: #8B9B8B
 * White: #FBFBFB
 */

body {
    width: 100%;
    height: 100%;
    background: url('../assets/bg.png') fixed center / cover;
}


.top {
    top: 25%;
    text-align: left;
    position: relative;
    padding: 10px;
    border: solid #C48C89 2px; /* Rosy border color */
    background-color: #C48C89;
    border-radius: 25px;
    max-width: 75%;
}

.time-container {
    color: #FBFBFB;
}

#time {
    font-size: 50px;
}

.search {
    padding: 10px 0px 10px 0px ;
}

input:focus {
    outline: none;
}

.functionals {
    top: 30%; 
    text-align: left;
    position: relative;
    padding: 10px; 
    border: solid #C48C89 2px; /* Rosy border color */
    background-color: #C48C89;
    border-radius: 25px;
    color: #FBFBFB;
    max-width: 75%;
    height: 250px;
}

.carousel-indicators {
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    width: auto;
    height: 10px;
}

.menu {
    text-align: center;
    padding-top: 40px;
}

.menu ul {
    padding: 0px;
    list-style-type: none;
}

a {
    display: block;
}
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #8B9B8B;
    color: #FBFBFB;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}